/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.start-page {
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #f0f7ff -29.09%,
    #c8c8c8 51.77%,
    #444350 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


button:hover {
  transform: scale(1.05);
  opacity: 1;
}

